@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/dialog/mdc-dialog";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "@material/ripple/mixins";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "@material/shape/functions";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/color-palette";
@import "@material/theme/functions";
@import "@material/theme/mixins";
@import "@material/typography/mdc-typography";

:root {
  --mdc-theme-primary: #000;
  --mdc-theme-secondary: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-background: #f5f5f5;
  --mdc-theme-on-secondary: rgba(0, 0, 0, 0.6);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--mdc-theme-background);
  /* transition: background-color 1000ms cubic-bezier(0.4, 0.0, 0.2, 1),
  color 1000ms cubic-bezier(0.4, 0.0, 0.2, 1),
  border-color 1000ms cubic-bezier(0.4, 0.0, 0.2, 1); */
}

.dark {
  --mdc-theme-primary: #fff;
  --mdc-theme-secondary: #1f1f1f;
  --mdc-theme-surface: #1f1f1f;
  --mdc-theme-background: #121212;
  --mdc-theme-on-secondary: rgba(255, 255, 255, 0.6);
  color: var(--mdc-theme-primary) !important;
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(255, 255, 255, 0.87);
  }
  .mdc-text-field:not(.mdc-text-field--disabled)
    .mdc-text-field__icon--leading {
    color: rgba(255, 255, 255, 0.54);
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: rgba(255, 255, 255, 0.54);
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: rgba(255, 255, 255, 0.87);
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.54) !important;
  }
  .mdc-card__action--icon:not(:disabled),
  .mdc-icon-button {
    color: var(--mdc-theme-on-secondary);
  }
  .mdc-dialog .mdc-dialog__content {
    color: rgba(255, 255, 255, 0.6);
  }
}

.mdc-icon-button {
  color: var(--mdc-theme-on-secondary);
}

.mdc-snackbar .mdc-icon-button {
  color: rgba(255, 255, 255, 0.87);
}

canvas,
#graph > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

/* canvas {
  background-image: url("./assets/grid.svg");
  background-repeat: repeat;
  background-size: 150px;
} */

.transition {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.vertex {
  position: absolute;
  padding: 8px;
  height: 72px;
  width: 128px;
  cursor: move;
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vertex .mdc-typography {
  margin: 0;
}

.vertex.mdc-elevation--z1 {
  z-index: 1;
}

.vertex.mdc-elevation--z4 {
  z-index: 4;
}

.vertex .mdc-typography--headline6 {
  --mdc-typography-headline6-font-size: 14px;
  --mdc-typography-headline6-line-height: 16px;
}

.vertex .mdc-typography--subtitle2 {
  --mdc-typography-subtitle2-font-size: 11px;
  --mdc-typography-subtitle2-line-height: 14px;
}

.vertex .mdc-card__action-icons {
  position: absolute;
  bottom: 8px;
  right: 2px;
}

.vertex .mdc-card__action-icons button,
.vertex .mdc-card__action-icons a {
  width: 20px;
  height: 20px;
  font-size: 16px;
  padding: 2px;
  will-change: auto;
}

#search_bar {
  position: fixed;
  left: 16px;
  top: 16px;
  z-index: 16;
  border-radius: 4px;
  background: var(--mdc-theme-surface);
}

#buttons {
  position: fixed;
  left: 300px;
  top: 16px;
  z-index: 16;
}

.mdc-fab,
.mdc-fab:not(:disabled) .mdc-fab__icon,
.mdc-fab:not(:disabled) .mdc-fab__label,
.mdc-fab:disabled .mdc-fab__icon,
.mdc-fab:disabled .mdc-fab__label {
  color: var(--mdc-theme-on-secondary);
}

#mobile {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#mobile p {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 839px) {
  #search_bar,
  #delete_button,
  main {
    display: none;
  }

  #mobile {
    display: flex;
  }
}
